#!/bin/zsh

# BREW & CASK
alias brews="brew list -1"
alias casks="brew cask list -1"
alias cask="brew cask"

# Get macOS Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update="sudo softwareupdate --all --install --force --restart; brew update; brew upgrade; brew cleanup; brew upgrade --cask; gem update --system; gem update; gem cleanup; omz update"

# get to hosts
alias hosts="sudo vim /etc/hosts"

# Copy my public key to the pasteboard
alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | printf '=> Public key copied to pasteboard.\n'"

# Show/hide hidden files in Finder
alias showdotfiles="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hidedotfiles="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

alias reload="source ~/.zshrc"
alias webstorm="open -na 'WebStorm.app'"
alias azure-auth="better-vsts-npm-auth"

# Generate a cuid
alias generate-cuid='node -e "console.log(require('cuid')());"'
