#!/bin/bash

# Make vim the default editor.
export EDITOR='vim';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

export CPPFLAGS="-I/usr/local/opt/openjdk@11/include";

# Use latest version of python for shell
export PYENV_VERSION=3.8.2

# Use latest ruby version
export RBENV_VERSION=2.7.1

# Use fluent dev aws role
export AWS_DEFAULT_PROFILE="fluent-dev"

# Colors
export CLICOLOR=1
export LSCOLORS=ExFxBxDxCxegedabagacad

# Dynamo DB Admin Local
export DYNAMO_ENDPOINT=http://localhost:8111
export AWS_REGION=us-west-2

# Pyenv
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"

# nvm
export NVM_DIR="$HOME/.nvm"
  [ -s "/usr/local/opt/nvm/nvm.sh" ] && . "/usr/local/opt/nvm/nvm.sh"  # This loads nvm
  [ -s "/usr/local/opt/nvm/etc/bash_completion.d/nvm" ] && . "/usr/local/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion
