#!/bin/zsh

# BREW & CASK
alias brews="brew list -1"
alias casks="brew cask list -1"
alias cask="brew cask"

# Re source the shell
alias src="_omz::reload"

# Update all brews
alias update-brews="brew update; brew upgrade; brew cleanup; brew upgrade --cask"

# Update OSX
alias update-os="sudo softwareupdate --all --install --force"

# Update everything
alias update-all="update-brews; update-os; src"

# get to hosts
alias hosts="sudo vim /etc/hosts"

# SSH Keys
## Copy my public key(s) to the pasteboard
alias personalkey="more ~/.ssh/id_ed25519.pub | pbcopy | printf '=> Personal key copied to pasteboard.\n'"
alias workkey="more ~/.ssh/id_ed25519_slalom.pub | pbcopy | printf '=> Work key copied to pasteboard.\n'"

## list ssh keys
alias sshkeys="ssh-add -l"

# Show/hide hidden files in Finder
alias showdotfiles="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hidedotfiles="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Lock the screen (when going AFK)
alias afk="pmset sleepnow"

# Load nvm version if exists
alias load-nvm="cat .nvmrc | nvm use"

# AWS
alias aws-get-role="aws sts get-caller-identity"
alias aws-auth="aws-azure-login --profile default --no-prompt --mode=gui"

# Ports
alias killport='function _killport(){ lsof -ti :$1 | xargs kill; }; _killport'

