#!/bin/zsh

# BREW & CASK
alias brews="brew list -1"
alias casks="brew cask list -1"
alias cask="brew cask"

# Get macOS Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update="sudo softwareupdate --all --install --force --restart; brew update; brew upgrade; brew cleanup; brew upgrade --cask; gem update --system; _omz::update"
alias update-brews="brew update; brew upgrade; brew cleanup; brew upgrade --cask"
alias update-os="sudo software update --all --install --force --restart"
alias update-gems="gem update --system"

# get to hosts
alias hosts="sudo vim /etc/hosts"

alias src="_omz::reload"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Copy my public key to the pasteboard
alias personalkey="more ~/.ssh/id_ed25519.pub | pbcopy | printf '=> Personal key copied to pasteboard.\n'"
alias workkey="more ~/.ssh/id_ed25519_slalom.pub | pbcopy | printf '=> Work key copied to pasteboard.\n'"

# Show/hide hidden files in Finder
alias showdotfiles="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hidedotfiles="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Lock the screen (when going AFK)
alias afk="pmset sleepnow"

# Load nvm version if exists
alias load-nvm="cat .nvmrc | nvm use"

# AWS
alias aws-get-role="aws sts get-caller-identity"
alias aws-auth="aws-azure-login --profile default --no-prompt --mode=gui"

# Ports
alias killport='function _killport(){ lsof -ti :$1 | xargs kill; }; _killport'

