[alias]
  # Add untracked, remove deleted, and show status
  adda = !git add -A && git status

  # Show verbose output about tags, branches or remotes
  tags = tag -l
  branches = branch -a
  remotes = remote -v

  # Switch to a branch, creating it if necessary
  go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"

  # get rid of all my branches that are merged
  prunegone = "!git fetch -p && for branch in `git branch -vv | grep ': gone]' | awk '{print $1}'`; do git branch -D $branch; done"

  reset = "git reset HEAD --hard"

  up = !"git remote update -p; git merge --ff-only @{u}"

# color opts: normal, black, red, green, yellow, blue, magenta, cyan, or white
[color]
  ui = always

[core]
  # Use custom `.gitignore` and `.gitattributes`
  excludesfile = /Users/garrettjones/.gitignore
  attributesfile = ~/.gitattributes

# correct typos
[help]
  autocorrect = 1

# Include summaries of merged commits in newly created merge commit messages
[merge]
  log = true

[user]
  name = Garrett Jones
  email = garrettj@slalom.com

# push easily. http://stackoverflow.com/a/23918418/89484
[push]
  default = current
  followTags = true

[fetch]
  prune = true

[diff]
  compactionHeuristic = true

[pull]
  rebase = false

[commit]
  template = /Users/garrettjones/.stCommitMsg

[credential]
  helper = store
